<div>
    <div style="background: #ECECEC;padding:30px;">
        <nz-card style="width:300px;" [nzBordered]="false" [nzTitle]="item.name" [nzExtra]="extraTemplate">
            <p>{{item.description}}</p>
            <small>SKU: {{ item.sku }}</small>
            <form [formGroup]="form" (ngSubmit)="onAddItem()" nz-row [nzJustify]="'space-between'">
                <nz-input-number formControlName="quantity" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                <button nz-button [nzType]="'primary'">Agregar</button>
            </form>
        </nz-card>
    </div>
    <ng-template #extraTemplate>
        <span>$ {{item.price}}</span>
    </ng-template>
</div>